* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid-container{
    width: 100%;
    max-height: 390px;
    overflow: auto;
    padding-top: 42px;
    text-align: center;
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
    /*-- our gutter -- */
    padding: 12px; 
    background-color: #ddd;
}

.col-1{ width: 16.66%; }
.col-2{ width: 25%; }
.col-25{ width: 33.333% }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.outline, .outline *{
    outline: 1px solid #ccc;
}

/*-- some extra column content styling --*/
[class*='col-'] > p {
 background-color: rgb(121, 98, 98); 
 padding: 0;
 margin: 0;
 text-align: center; 
 color: white; 
}

.headerRow {width: 100%;position: absolute;border-bottom: 1px solid #ccc;}

.gronContainer {
    max-width: 1200px;
    margin: auto;
    position: relative;
}